<div class="escaner-container">
  <h2>Control de Accesos (Lector QR)</h2>
  <p>Enfocá el código QR con la cámara o ingresalo de forma manual.</p>
  
  
  <div id="reader" style="max-width: 400px; margin: 0 auto 20px auto; background: #222; border-radius: 8px;"></div>

  <div class="input-grupo">
    <input 
      type="text" 
      [(ngModel)]="codigo" 
      (keyup.enter)="validarTicket()" 
      [disabled]="cargando"
      placeholder="O tipea el código (Ej: UTN-CINE-987654)">
    
    <button (click)="validarTicket()" [disabled]="cargando">
      {{ cargando ? 'Validando...' : 'Validar' }}
    </button>
  </div>

  
  <p *ngIf="mensaje" class="mensaje" [ngClass]="{'exito': ticketValido, 'error': !ticketValido}">
    {{ mensaje }}
  </p>

  
  <div class="resultado-ticket" *ngIf="ticketValido">
    <h3>Entrada Válida</h3>
    <p><strong>Película:</strong> {{ ticketValido.pelicula }}</p>
    <p><strong>Sala:</strong> {{ ticketValido.sala }}</p>
    <p><strong>Butacas:</strong> {{ ticketValido.butacas }}</p>
    
    
    <div class="candy-alert" *ngIf="ticketValido.candybar">
      <h4>¡ENTREGAR PRODUCTOS DE CANDY BAR!</h4>
      <p>{{ ticketValido.candybar }}</p>
    </div>
  </div>
</div>